In [55]:
# Kmnist word game with the cluster algorithm Kmeans 
from matplotlib import pyplot as plt, image as mpimg 
import cv2
import numpy as np 
import pandas as pd 
import os
import random
import math 
from PIL import Image
import csv

In [56]:
def get_file_count(directory):
    file_count = 0
    for root, dirs, files in os.walk(directory):
        file_count += len(files)
    return file_count

In [60]:
mnist = pd.read_csv('mnist_train2.csv') # 60K data
countK = get_file_count(os.getcwd()+'/newNone')
countK

6016

In [78]:
def add_mnist_data_to_csv(images_dir, output_csv):
    # Écriture des données dans le fichier CSV
    with open(output_csv, 'w', newline='') as csv_file:
        writer = csv.writer(csv_file)
        
        # Écriture des en-têtes de colonnes
        header = ['label'] + ['pixel{}'.format(i) for i in range(784)]  # 28x28 = 784 pixels
        writer.writerow(header)
        
        # Lecture des images et écriture des données
        for i in range(countK):  # Parcourir les images de 0 à 9
            image_path = os.path.join(images_dir, '{}.jpg'.format(i))
            image = Image.open(image_path).convert('L')
            pixels = np.array(image.resize((28, 28))).flatten()
            row = [11] + list(pixels)
            writer.writerow(row)

In [79]:
path = os.getcwd()+'/newNone/' 
add_mnist_data_to_csv(path,'mnist_train2.csv')

In [81]:
k = pd.read_csv('mnist_train2.csv')
k

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,11,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
1,11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,11,30,31,29,28,30,29,28,27,31,...,31,31,28,28,31,29,27,30,31,31
4,11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6011,11,255,255,254,254,254,254,254,254,255,...,254,255,255,255,255,255,255,255,254,254
6012,11,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
6013,11,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
6014,11,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
6015,11,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255

In [82]:
# Concatenate our 2 csv files 
def merge_csv(csv1_path, csv2_path, output_csv):
    df1 = pd.read_csv(csv1_path)
    df2 = pd.read_csv(csv2_path)
    
    merged_df = pd.concat([df1, df2], ignore_index=True)
    
    merged_df.to_csv(output_csv, index=False)

In [86]:
merge_csv('mnist_train.csv','mnist_train2.csv','kmnist.csv')

In [87]:
kmnist = pd.read_csv('kmnist.csv')
kmnist

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66011,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,254.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,254.0,254.0
66012,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0
66013,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0
66014,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0
66015,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0